html, body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    flex-shrink: 0;
}
i {
    color: #6C757D;
}
footer {
    position: absolute;
    bottom: 15px;
    flex-shrink: 0;
}
#icon {
    color: white;
}
.whole {
    /* position: relative; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


h1{
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.accordion {
    padding-top: 10px;
    width: 500px;
    height: 300px;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: #212529;
}
ul {
    list-style: none;
    margin: 0;
}

input[id*="answer"] {
    display: none;
}

input[id*="answer"]+label {
    display: block;
    padding: 20px;
    border: 1px solid white;
    border-bottom: 0;
    color: #fff;
    font-weight: 900;
    background: rgb(37, 74, 110);
    cursor: pointer;
    position: relative;
}

input[id*="answer"]+label em {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
    background: url('./img/arrow.png') 0 0 no-repeat;
}

input[id*="answer"]+label+div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background: #ebf8ff;
    font-size: 11px;
}

input[id*="answer"]+label+div p {
    display: inline-block;
    padding: 20px;
}

input[id*="answer"]:checked+label+div {
    max-height: 100px;
}

input[id*="answer"]:checked+label em {
    background-position: 0 -30px;
}


.backp {
background-image: url('img/ocean.jpg');
padding: 0;
width: 100%;
height: 150px;
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover;
border: 0;
}

.backp h2{
padding-top: 69px;
font-size: 32px;
font-weight: 700;
color: #ffffff;
letter-spacing: -1px;
text-align: center;
}
.ti{
    padding-top: 10px;
}
.ti h1 {
    letter-spacing: 4px;
    font-size: 30px;
}


.Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 10px;
}

.Footer__sns {
    display: flex;
}
.Footer__sns li {
    margin: 0 10px;
}
.Footer__menu {
    display: flex;
}
.Footer__menu li {
    margin: 0 10px;
}